.nomob {
	display: block; !important
}

.mob {
	display: none; !important
}


.typewriter {
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
}

.typewriter-text {
	display: inline-block;
	overflow: hidden;
	letter-spacing: 2px;
	animation: typing 5s steps(44, end), blink .75s step-end infinite;
	white-space: nowrap;
	font-size: 25px;
	font-weight: 700;
	border-right: 4px solid orange;
	box-sizing: border-box;
	font-family: 'B612 Mono', monospace;
}

@keyframes typing {
	from { 
		width: 0% 
	}
	to { 
		width: 100% 
	}
}

@keyframes blink {
	from, to { 
		border-color: transparent 
	}
	50% { 
		border-color: #e84545 
	}
}



* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none !important;
}

#white a {
	color: #FFF !important;
}

#social {
	color: #FFF !important;
}

body {
	font-family: 'Poppins', sans-serif;
}

.no-pad {
	padding: 0 !important;
	margin: 0 !important;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.orangeMe {
	color: #e84545;
}

.nav-link:hover {
	color: #e84545;
}

.banner-wrapper {
	min-height: 700px;
	height: 100vh;
	position: relative;
	background-image: url('../images/Bannerv2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #333;
}

.trans-box {
	background-color: rgba(0,0,0,0.5); 
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.no-deco {
	text-decoration: none;
	color: #FFF !important;
}

.cv {
	margin: 20px auto 20px auto;
	border: 1px solid #e84545;
	width: 200px;
	padding: 10px;
	border-radius: 4px;
}



.cv:hover {
	background: #e84545;
}

.banner-container {
	width: 100%;
	text-align: center;
	padding-top: 200px;
}

.banner-container h1 {
	font-weight: bold;
	color: white;
	font-size: 55px;
}

.banner-container h3 {
	border-top: 5px solid #e84545;
	margin: 10px auto 0;
	font-size: 10px;
	width: 10%;
}

.banner-container h2 {
	color: white;
	font-size: 15px;
	font-family: 'B612 Mono', monospace;
}

.arrow-down {
	width: 60px;
	height: auto;
	position: absolute;
	top: 70%;
	left: 48%;
	transform: translate(-50%, -50%);
}

#about {
	padding: 60px 0;
}


.div-section {
	width: 100%;
	min-height: 600px;
	height: 100%;
}

h1 {
	text-align: center;
}

#me {
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
}

.sb-container {
	margin-bottom: 20px;
}

#skill-section {
	background-color: #D3D3D3;
	min-height: 450px;
	height: 100%;
	padding-top: 20px;
}

#skills {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
}

#skills-p {
	font-size: 20px;
	color: #686868;
	margin-bottom: 0;
}







/* Start of Work */

#work-title {
	padding-top: 30px;
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
}

.parallax {
	margin-top: 50px; 
	/* The image used */
	background-image: url("../images/work.jpg");

	/* Set a specific height */
	min-height: 1300px;
	height: 100%; 
	width: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#work-black {
	background-color: rgba(0,0,0,0.95);
	color: #fff;
	padding: 30px;
	width: 50%;
	float: right;
}

#work-white {
	background-color: rgba(255,255,255,0.95);
	color: #000;
	padding: 30px;
	width: 50%;
	float: left;
}

.w100 {
	width: 100%;
	min-width: 100%;
}

.w100 h3 {
	color: #f05a5d;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

.w100 p {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 auto;
}

.clear:after { 
	content: "";
	clear: both;
	display: block;
}
/* End of WORK */
















#projects {
	padding: 60px 0;
}

.proj-icon {
	width: 64px;
	height: 64px;
	margin-right: 10px;
}

.proj-container {
	margin: 0 auto;
}

#visit {
	color: #e84545;
	text-decoration: none;
	text-align: right;
	margin-right: 20px;
}

#a-red {
	color: #e84545;
}

.shadow-bott {
	border-bottom: 3px double #e84545;
}

footer {
	/*background-color: rgb(6,6,13);*/
	color: white;
	text-align: center;
	font-size: 10px;
	line-height: 50px;
}


#contacts {
	padding: 60px 0;
}

#contacts h1 {
	color: white;
}

#contact-container {
	padding-top: 245px;
}

#w600 {
	max-width: 800px;
	margin: 0 auto 20px auto;
	text-align: center;
	color: white;
}

#w300 {
	max-width: 150px;
	margin: 0 auto 30px auto;
	text-align: center;
	color: white;
}

#white {
	color: white;
}

/*
#contacts-cont {
	margin: 150px; auto;
}
*/

/*original max width 750px */
@media (max-width: 550px) {
	.mob {
		display: block; !important
	}

	.nomob {
		display: none; !important
	}

	.arrow-down {
		width: 60px;
		height: auto;
		position: absolute;
		top: 70%;
		left: 46%;
		transform: translate(-50%, -50%);
	}
}


@media (max-width: 470px) {
	#my-name {
		color: #FFF;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	#small-red {
		color: #FFF;
	}

	#small-white {
		border-top: 1px solid #FFF;
		margin: 10px auto 0;
		font-size: 10px;
		width: 40%;
	}

	.arrow-down {
		width: 60px;
		height: auto;
		position: absolute;
		top: 73%;
		left: 40%;
		transform: translate(-50%, -50%);
	}

	.banner-container h1 {
		font-weight: bold;
		color: white;
		font-size: 45px;
	}
}



/* For Professional Journey */
@media (max-width: 480px) {
	#work-black {
		background-color: rgba(0,0,0,0.95);
		color: #fff;
		padding: 30px;
		width: 100%;
		float: right;
	}

	#work-white {
		background-color: rgba(255,255,255,0.95);
		color: #000;
		padding: 30px;
		width: 100%;
		float: left;
	}
}
