* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* For transition animation */
.ease {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.clear:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col"] {
  box-sizing: border-box;
}

/*Start of Fluid Grid*/
.col-lg-1 {
  width: 8.33%;
}
.col-lg-2 {
  width: 16.66%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.32%;
}
.col-lg-5 {
  width: 41.65%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.31%;
}
.col-lg-8 {
  width: 66.64%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33%;
}
.col-lg-11 {
  width: 91.63%;
}
.col-lg-12 {
  width: 100%;
}
/*End of Fluid Grid*/

body {
  background-color: #f2f2f0;
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /*position: relative;*/
}

.main {
  width: 1000px;
  height: 600px;
  background: #f2f2f0;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.me {
  height: 100%;
  float: left;
  background-color: red;
  background-image: url("../images/me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.side-container {
  height: 100%;
  background: #f2f2f0;
  float: left;
  box-sizing: border-box;
}

.my-name {
  height: 50%;
  background: #f2f2f0;
  float: left;
  text-align: center;
  transition: transform 0.7s;
}

.my-name:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h1.change:hover {
  color: #ed5800;
  transform: scale(1.5);
}

.my-name h1 {
  color: #808080;
  padding-top: 40%;
  /*vertical-align: middle;*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.my-name p {
  color: #a9a9a9;
  text-align: center;
}

.box {
  box-sizing: border-box;
  background: #dcdcdc;
  width: 100%;
  height: 100%;
  display: table;
}

.box h1 {
  display: table-cell;
  vertical-align: middle;
  color: #808080;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.about-me {
  height: 50%;
  text-align: center;
  float: left;
  padding: 5px;
}

.portfolio {
  height: 50%;
  text-align: center;
  float: left;
  padding: 5px;
}

.contacts {
  height: 50%;
  text-align: center;
  float: left;
  padding: 5px;
}

/* Experiment hidden */

.hidden {
  display: none;
}

.big-box {
  height: 100%;
  background: #dcdcdc;
  padding: 20px;
}

article h1,
p {
  margin-bottom: 10px;
}

article #back {
  font-size: 10px;
  margin-bottom: 20px;
}

#back:hover {
  cursor: pointer;
}
/* END experiment */

/* For mobile*/
@media only screen and (max-width: 400px) {
  /*Start of Fluid Grid*/
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.32%;
  }
  .col-sm-5 {
    width: 41.65%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.31%;
  }
  .col-sm-8 {
    width: 66.64%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.63%;
  }
  .col-sm-12 {
    width: 100%;
  }
  /*End of Fluid Grid*/
}

/*For tablets*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  /*Start of Fluid Grid*/
  .col-md-0 {
    width: 0%;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.32%;
  }
  .col-md-5 {
    width: 41.65%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.31%;
  }
  .col-md-8 {
    width: 66.64%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.63%;
  }
  .col-md-12 {
    width: 100%;
  }
  /*End of Fluid Grid*/
}
