body {
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

.nodesk {
	display: none; !important
}

.me {
	height: 200px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}

.tblMain {
	text-align: center;
	margin-top: 60px;
	width: 100%;
	max-width: 800px; !important
}

.tblLeft {
	width: 100%;
	max-width: 400px; !important
}

.tblRight {
	width: 100%;
	max-width: 400px; !important
}

h1 {
	color: white;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 0;
}

h2 {
	color: yellow;
	font-size: 25px;
	font-weight: normal;
	margin-top: 0;
	border-bottom: 20px;	
}

.bio {
	color: white;
	font-size: 20px;
	margin-top: 50px;
}

#container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #0852FD;
}

#smallcontainer {
	width: 50%;
	margin: 40px auto;
	text-align: center;
	padding: 60px;
	background-color: #0852FD;
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
.break {
  display: block !important;
}

.bio {
	color: white;
	font-size: 30px;
	margin-top: 50px;
}

.nomob {
	display: none; !important
}

.nodesk	{
	display: block; !important
}

.tblMain {
	text-align: center;
	margin-top: 60px;
	width: 100%;
	max-width: 480px; !important
}
}